/********** Fixes **********/

* {
  margin:0;
  padding:0;
  border:0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  line-height: 0;
}

.clear {
  clear: both;
}

/**** Layout ****/


.featured-brand {
  float: left;
  width: 65%
  display: block;
  margin: 0%;
}

.archive {
  float: right;
  width: 32%;
  margin: 10px 0px 10px 10px;
}

.col-left {
  float: left;;
  width: 32%;
  margin:10px 10px 10px 0px;
}

.col-right {
  float: left;
  width: 32%;
  margin: 1%;
}

.col-middle {
  float: both;
  width: 32%;
  margin: 1%
}

/* Posititoning Classes */
